# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
key.jks
android/key.properties


# icons
icons/Untitled.xcf
icons/featured-graphics.png
icons/featured-graphics.xcf
icons/icon.xcf
icons/icon144.png
icons/icon192.png
icons/icon48.png
icons/icon72.png
icons/icon96.png
icons/initial-setup/screenshots/


test/
pubspec.lock

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
